[submodule "jackal"]
	path = jackal
	url = https://aur.archlinux.org/jackal.git
	pushUrl = ssh://aur@aur.archlinux.org/jackal.git
[submodule "writefreely"]
	path = writefreely
	url = https://aur.archlinux.org/writefreely.git
	pushUrl = ssh://aur@aur.archlinux.org/writefreely.git
[submodule "python-aioxmpp"]
	path = python-aioxmpp
	url = https://aur.archlinux.org/python-aioxmpp.git
	pushUrl = ssh://aur@aur.archlinux.org/python-aioxmpp.git
[submodule "python-aioxmpp-git"]
	path = python-aioxmpp-git
	url = https://aur.archlinux.org/python-aioxmpp-git.git
	pushUrl = ssh://aur@aur.archlinux.org/python-aioxmpp-git.git
[submodule "go-tools-git"]
	path = go-tools-git
	url = https://aur.archlinux.org/go-tools-git.git
	pushUrl = ssh://aur@aur.archlinux.org/go-tools-git.git
[submodule "python-psycopg2-binary"]
	path = python-psycopg2-binary
	url = https://aur.archlinux.org/python-psycopg2-binary.git
	pushUrl = ssh://aur@aur.archlinux.org/python-psycopg2-binary.git
[submodule "python-aiosasl"]
	path = python-aiosasl
	url = https://aur.archlinux.org/python-aiosasl.git
	pushUrl = ssh://aur@aur.archlinux.org/python-aiosasl.git
[submodule "writeas-gtk"]
	path = writeas-gtk
	url = https://aur.archlinux.org/writeas-gtk.git
	pushUrl = ssh://aur@aur.archlinux.org/writeas-gtk.git
[submodule "prometheus-xmpp-webhook"]
	path = prometheus-xmpp-webhook
	url = https://aur.archlinux.org/prometheus-xmpp-webhook.git
	pushUrl = ssh://aur@aur.archlinux.org/prometheus-xmpp-webhook.git
[submodule "writeas-cli"]
	path = writeas-cli
	url = https://aur.archlinux.org/writeas-cli.git
	pushUrl = ssh://aur@aur.archlinux.org/writeas-cli.git
[submodule "python-rawkit-git"]
	path = python-rawkit-git
	url = https://aur.archlinux.org/python-rawkit-git.git
	pushUrl = ssh://aur@aur.archlinux.org/python-rawkit-git.git
[submodule "python-aioopenssl"]
	path = python-aioopenssl
	url = https://aur.archlinux.org/python-aioopenssl.git
	pushUrl = ssh://aur@aur.archlinux.org/python-aioopenssl.git
[submodule "libraw16"]
	path = libraw16
	url = https://aur.archlinux.org/libraw16.git
	pushUrl = ssh://aur@aur.archlinux.org/libraw16.git
[submodule "python-sortedcollections"]
	path = python-sortedcollections
	url = https://aur.archlinux.org/python-sortedcollections.git
	pushUrl = ssh://aur@aur.archlinux.org/python-sortedcollections.git
[submodule "anita"]
	path = anita
	url = https://aur.archlinux.org/anita.git
	pushUrl = ssh://aur@aur.archlinux.org/anita.git
[submodule "ttf-public-sans"]
	path = ttf-public-sans
	url = https://aur.archlinux.org/ttf-public-sans.git
[submodule "ttf-dita-sweet"]
	path = ttf-dita-sweet
	url = https://aur.archlinux.org/ttf-dita-sweet.git
[submodule "ttf-nixie-one"]
	path = ttf-nixie-one
	url = https://aur.archlinux.org/ttf-nixie-one.git
[submodule "ttf-air-americana"]
	path = ttf-air-americana
	url = https://aur.archlinux.org/ttf-air-americana.git
[submodule "ttf-national-park"]
	path = ttf-national-park
	url = https://aur.archlinux.org/ttf-national-park.git
[submodule "purism-chatty"]
	path = purism-chatty
	url = https://aur.archlinux.org/purism-chatty.git
[submodule "vultr-cli"]
	path = vultr-cli
	url = https://git.sr.ht/~samwhited/vultr-cli
[submodule "feedbackd"]
	path = feedbackd
	url = https://aur.archlinux.org/feedbackd.git
[submodule "ipmicfg"]
	path = ipmicfg
	url = https://aur.archlinux.org/ipmicfg.git
[submodule "libraw19"]
	path = libraw19
	url = https://aur.archlinux.org/libraw19.git
[submodule "ietf-idnits"]
	path = ietf-idnits
	url = https://aur.archlinux.org/ietf-idnits.git
[submodule "ietf-id2xml"]
	path = ietf-id2xml
	url = https://aur.archlinux.org/ietf-id2xml.git
[submodule "prometheus-xmpp-blackbox-exporter"]
	path = prometheus-xmpp-blackbox-exporter
	url = https://aur.archlinux.org/prometheus-xmpp-blackbox-exporter.git
[submodule "ietf-xml2rfc"]
	path = ietf-xml2rfc
	url = https://aur.archlinux.org/ietf-xml2rfc.git
[submodule "terraform-provider-stripe"]
	path = terraform-provider-stripe
	url = https://aur.archlinux.org/terraform-provider-stripe.git
[submodule "stripe-cli"]
	path = stripe-cli
	url = https://aur.archlinux.org/stripe-cli.git
